flows.json
[{"id":"ebeef68a.6a3fc8","type":"tab","label":"Final Flow diagram for IOT Project","disabled":false,"info":""},{"id":"b70e2f90.3798a","type":"ibmiot in","z":"ebeef68a.6a3fc8","authentication":"apiKey","apiKey":"323f5cd5.7d3a64","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"4567","applicationId":"","deviceType":"iotproject","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":360,"wires":[["af632f7b.4c5da","e0217340.5eb7b","c0ecfcec.6ad1c","37d26beb.5c6b14","2a3d3b48.ae0084","a62a85ef.e54618","bd6c8190.fc6d1","3d10e6d0.9a3f2a","2449350b.6a2fea"]]},{"id":"af632f7b.4c5da","type":"debug","z":"ebeef68a.6a3fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"e0217340.5eb7b","type":"ui_text","z":"ebeef68a.6a3fc8","group":"b8774365.c1dca","order":0,"width":"5","height":"13","name":"","label":"","format":"This is a Build-a-Thon Project designed after conducting Smart Internz Gurucool program. This project is designed by Prof Vinita Bhandiwad, Vidylanakar Institute of Technology Mumbai.","layout":"row-center","x":480,"y":180,"wires":[]},{"id":"c0ecfcec.6ad1c","type":"ui_text","z":"ebeef68a.6a3fc8","group":"ac919159.bf0f6","order":0,"width":"5","height":"13","name":"","label":"","format":"This project is basically designed to measure and display  the Water FLow and Water Level. It calculates the Water level based on the usage of water flow. I have also added the method to calculate the Bill as per the water usage. Also for the user convienience I have represented the data in the Chart method","layout":"row-center","x":470,"y":240,"wires":[]},{"id":"7c85ce34.20bec","type":"comment","z":"ebeef68a.6a3fc8","name":"**Function to represent the basic information of the project**","info":"**Function to represent the basic information of the project**","x":760,"y":180,"wires":[]},{"id":"e282bf70.c57a2","type":"comment","z":"ebeef68a.6a3fc8","name":"**Function to represent the basic working of the project","info":"","x":740,"y":240,"wires":[]},{"id":"bd6c8190.fc6d1","type":"ui_gauge","z":"ebeef68a.6a3fc8","name":"","group":"d4218a2a.a02b18","order":2,"width":"5","height":"7","gtype":"gage","title":"Water FLow Monitoring","label":"Gallons per minute (gpm)","format":"{{msg.payload.waterflow}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"6","x":550,"y":320,"wires":[]},{"id":"37d26beb.5c6b14","type":"cloudant out","z":"ebeef68a.6a3fc8","name":"","cloudant":"","database":"smartsystem","service":"node-red-plfeo-2020--cloudant-1601636787848-11020","payonly":true,"operation":"insert","x":500,"y":400,"wires":[]},{"id":"2a3d3b48.ae0084","type":"function","z":"ebeef68a.6a3fc8","name":"","func":"msg.payload=msg.payload.waterflow\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":480,"wires":[["4d00f7db.75f208"]]},{"id":"4d00f7db.75f208","type":"ui_chart","z":"ebeef68a.6a3fc8","name":"","group":"d4218a2a.a02b18","order":3,"width":"5","height":"6","label":"Water flow Data","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e52","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":480,"wires":[[]]},{"id":"3d10e6d0.9a3f2a","type":"ui_gauge","z":"ebeef68a.6a3fc8","name":"","group":"44116b07.38e144","order":2,"width":"5","height":"7","gtype":"gage","title":"Water Level Monitoring ","label":"Ltr/gpm","format":"{{msg.payload.waterlevel}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"3","seg2":"6","x":580,"y":560,"wires":[]},{"id":"a62a85ef.e54618","type":"function","z":"ebeef68a.6a3fc8","name":"","func":"msg.payload=msg.payload.waterlevel\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":640,"wires":[["ff4f576a.9973d8"]]},{"id":"ff4f576a.9973d8","type":"ui_chart","z":"ebeef68a.6a3fc8","name":"","group":"44116b07.38e144","order":3,"width":"6","height":"6","label":"Water Level Data","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#b31e5a","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":770,"y":680,"wires":[[]]},{"id":"544afb25.3d12b4","type":"inject","z":"ebeef68a.6a3fc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":860,"wires":[["ef2b70df.71235"]]},{"id":"4dca3ab.f02a0c4","type":"debug","z":"ebeef68a.6a3fc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":860,"wires":[]},{"id":"2b02b076.09714","type":"function","z":"ebeef68a.6a3fc8","name":"","func":"valuelen=msg.payload.length\n\nflow1=0;\n\nfor (i=0;i<valuelen;i++)\n{\n    flow1=msg.payload[i].waterflow+flow1;\n}\n\nbill=flow1*1/1000;\n\nmsg.payload=bill+ \"₹\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":960,"wires":[["4dca3ab.f02a0c4","70229e5d.68e6a","fe164937.194828"]]},{"id":"ef2b70df.71235","type":"cloudant in","z":"ebeef68a.6a3fc8","name":"","cloudant":"","database":"smartsystem","service":"node-red-plfeo-2020--cloudant-1601636787848-11020","search":"_all_","design":"","index":"","x":610,"y":960,"wires":[["4dca3ab.f02a0c4","2b02b076.09714"]]},{"id":"69a0d159.5088","type":"ui_button","z":"ebeef68a.6a3fc8","name":"","group":"a7ee1a9c.110228","order":1,"width":0,"height":0,"passthru":true,"label":"Bill Calculation","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Your total Bill is","payloadType":"str","topic":"","x":340,"y":1080,"wires":[["ef2b70df.71235"]]},{"id":"70229e5d.68e6a","type":"ui_text","z":"ebeef68a.6a3fc8","d":true,"group":"a7ee1a9c.110228","order":2,"width":"0","height":"0","name":"","label":"Your total bill amount is","format":"{{msg.payload}}","layout":"row-center","x":1070,"y":1080,"wires":[]},{"id":"faa7d839.70eb38","type":"comment","z":"ebeef68a.6a3fc8","name":"Process to define and monitor the water flow in the system ","info":"","x":890,"y":320,"wires":[]},{"id":"3b33c9bb.573106","type":"comment","z":"ebeef68a.6a3fc8","name":"Created a Database using cloundant out and uploaded all values to the cloud data storage","info":"","x":890,"y":400,"wires":[]},{"id":"8b44883d.cd0e58","type":"comment","z":"ebeef68a.6a3fc8","name":"Function to plot the Water Flow Level in the system","info":"","x":1100,"y":480,"wires":[]},{"id":"d5a18408.bf00c8","type":"comment","z":"ebeef68a.6a3fc8","name":"Process to define and monitor the water level in the system ","info":"","x":910,"y":560,"wires":[]},{"id":"ab49879b.643718","type":"comment","z":"ebeef68a.6a3fc8","name":"Function to plot the Water  Level in the system","info":"","x":1050,"y":640,"wires":[]},{"id":"26cdfaec.7d6ec6","type":"comment","z":"ebeef68a.6a3fc8","name":"Input function to inject the vaules ","info":"","x":400,"y":800,"wires":[]},{"id":"cc671376.dc8ea","type":"comment","z":"ebeef68a.6a3fc8","name":"Button used to calculate the Bill process","info":"","x":420,"y":1140,"wires":[]},{"id":"8cf0a04b.35dd5","type":"comment","z":"ebeef68a.6a3fc8","name":"CLoudant Database retrieval for calculating bill generated by the user","info":"","x":700,"y":1000,"wires":[]},{"id":"9e303245.30b8e","type":"comment","z":"ebeef68a.6a3fc8","name":"Output node to display the data","info":"","x":1120,"y":820,"wires":[]},{"id":"1360b686.b1d2c9","type":"comment","z":"ebeef68a.6a3fc8","name":"A small Text node to display the total bill value ","info":"","x":1130,"y":1160,"wires":[]},{"id":"57cca866.0ffb28","type":"comment","z":"ebeef68a.6a3fc8","name":"Output node to display the value","info":"","x":780,"y":80,"wires":[]},{"id":"fe164937.194828","type":"ui_text_input","z":"ebeef68a.6a3fc8","name":"","label":"Your total bill amount is: ","tooltip":"","group":"a7ee1a9c.110228","order":2,"width":"5","height":"4","passthru":true,"mode":"text","delay":"0","topic":"","x":1080,"y":1220,"wires":[[]]},{"id":"2449350b.6a2fea","type":"ui_template","z":"ebeef68a.6a3fc8","group":"b8774365.c1dca","name":"","order":1,"width":0,"height":0,"format":"<style>\n    body {\n        background-image: url(\"https://www.itl.cat/wallview/iiJJimh_3d-water-wallpaper-desktop-zen-water/\");\n        background-repeat: no-repeat;\n        background-position: right top;\n        background-size: 100%;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":300,"y":640,"wires":[[]]},{"id":"323f5cd5.7d3a64","type":"ibmiot","z":"","name":"iot ibm","keepalive":"60","serverName":"h7f91f.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"b8774365.c1dca","type":"ui_group","z":"","name":"Project Details","tab":"b5bdfbc1.0c1df8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ac919159.bf0f6","type":"ui_group","z":"","name":"Project Information","tab":"b5bdfbc1.0c1df8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d4218a2a.a02b18","type":"ui_group","z":"","name":"Water Flow Monitoring","tab":"b5bdfbc1.0c1df8","order":3,"disp":true,"width":"6","collapse":false},{"id":"44116b07.38e144","type":"ui_group","z":"","name":"Water Level Monitoring","tab":"b5bdfbc1.0c1df8","order":5,"disp":true,"width":"6","collapse":false},{"id":"a7ee1a9c.110228","type":"ui_group","z":"","name":"Bill Generation","tab":"b5bdfbc1.0c1df8","order":7,"disp":true,"width":"8","collapse":false},{"id":"b5bdfbc1.0c1df8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]